@media (max-width: 480px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #594A42;
        padding: 2em;
        align-items: center;
        gap: 1em;
        width: 100%;
    }

    .eye {
        width: 3em
    }

    .text {
        width: 14em;
    }

    .text-name{
        font-size: 1em;
        color: white;
    }
}

@media (min-width: 480px) {
    .footer-container {
        display: flex;
        justify-content: center;
        background-color: #594A42;
        padding: 2em;
        align-items: center;
        gap: 1em;
        width: 100%;
    }

    .eye {
        width: 4em
    }

    .text {
        width: 18em
    }

    .text-name{
        font-size: 2em;
        color: white;
    }

}
